# Configuration file

general {
    I:waila.cfg.alpha=74
    I:waila.cfg.bgcolor=1048592
    I:waila.cfg.fontcolor=10526880
    I:waila.cfg.gradient1=5243135
    I:waila.cfg.gradient2=2621567
    I:waila.cfg.heartsperline=20
    B:waila.cfg.keybind=true
    B:waila.cfg.liquid=true
    I:waila.cfg.maxhpbeforetext=40
    B:waila.cfg.metadata=false
    B:waila.cfg.newfilters=true
    I:waila.cfg.posx=5000
    I:waila.cfg.posy=227
    I:waila.cfg.scale=79
    B:waila.cfg.shiftblock=false
    B:waila.cfg.shiftents=false
    B:waila.cfg.show=true
    B:waila.cfg.showmode=true
}


##########################################################################################################
# modules
#--------------------------------------------------------------------------------------------------------#
# Those are the config keys defined in modules.
# Server side, it is used to enforce keys client side using the next section.
##########################################################################################################

modules {
    B:general.showcrop=true
    B:general.showhp=true
    B:simplefluidtankscapacityInMb=true
    B:simplefluidtanksfluidName=true
    B:simplefluidtankslinkStatus=true
    B:simplefluidtankstankCapacity=true
    B:simplefluidtankstankCount=true
    B:simplefluidtankstotalCapacity=true
    B:tcon.basin=true
    B:tcon.castingchannel=true
    B:tcon.searedtank=true
    B:tcon.smeltery=true
    B:tcon.table=true
    B:vanilla.comparator=true
    B:vanilla.jukebox=true
    B:vanilla.leverstate=true
    B:vanilla.redstone=true
    B:vanilla.repeater=true
    B:vanilla.silverfish=true
    B:vanilla.spawntype=true
}


##########################################################################################################
# server_forcing
#--------------------------------------------------------------------------------------------------------#
# Any key set to true here will ensure that the client is using the configuration set in the 'module' section above.
# This is useful for enforcing false to 'cheating' keys like silverfish.
##########################################################################################################

server_forcing {
    B:general.showcrop=false
    B:general.showhp=false
    B:simplefluidtankscapacityInMb=false
    B:simplefluidtanksfluidName=false
    B:simplefluidtankslinkStatus=false
    B:simplefluidtankstankCapacity=false
    B:simplefluidtankstankCount=false
    B:simplefluidtankstotalCapacity=false
    B:tcon.basin=false
    B:tcon.castingchannel=false
    B:tcon.searedtank=false
    B:tcon.smeltery=false
    B:tcon.table=false
    B:vanilla.comparator=false
    B:vanilla.jukebox=false
    B:vanilla.leverstate=false
    B:vanilla.redstone=false
    B:vanilla.repeater=false
    B:vanilla.silverfish=false
    B:vanilla.spawntype=false
}


