#World based configuration of NEI.
#Most of these options can be changed ingame.
#Deleting any element will restore it to it's default value

inventory
{
	cheatmode=2
	gamemodes=creative, creative+, adventure
	itemsort=nei.itemsort.minecraft,nei.itemsort.mod,nei.itemsort.id,nei.itemsort.default,nei.itemsort.damage,nei.itemsort.name
	layoutstyle=0
	utilities=delete, magnet
	widgetsenabled=true
}
