*.class

# Package Files #
*.jar
*.war
*.ear

includeCP/fmlbranding.properties
eclipse/*
eclipse - Copy/*
build/*
bin/*
.gradle/*
.settings/*
.project
.classpath
*-fml.txt
MinecraftForge-*.txt
forge-*-changelog.txt
gradle-app.setting
*.iml
*.ipr
*.iws
gradlew.*
gradle/*